{% extends "admin/login.html" %}

{% block content %}
<div class="error-message">
  {% if form.errors %}
    <ul class="errorlist">
      {% for field, error_list in form.errors.items %}
        {% for error in error_list %}
          <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}
</div>
  <form method="post" action="{% url 'test' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.password.label_tag }}
    {{ form.password }}
    <input type="submit" value="Iniciar sesión">
  </form>
</div>
{% endblock %}